* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

@media all and (min-width: 768px) {
  article {
    display: block;
    height: 110vh;
    background: skyblue;
    text-align: center; }
    article ul {
      list-style: none;
      margin: 0 auto;
      padding: 100px 0 0 0;
      width: 600px; }
    article li {
      width: 25%;
      margin: 0;
      padding: 0;
      float: left;
      text-align: center; }
    article a {
      display: block;
      height: 50px;
      line-height: 42px;
      width: 100px;
      background: #47cf73;
      text-decoration: none;
      color: #fff;
      font-size: 24px;
      border-bottom: 8px solid #08ad08;
      border-radius: 10px;
      box-sizing: border-box; }
      article a:active {
        border-bottom: none;
        line-height: 50px; }
  .btn-top, .btn-bottom {
    position: fixed;
    width: 50px;
    height: 60px;
    background: rgba(0, 0, 0, 0.6);
    border: none;
    outline: none;
    border-radius: 5px; }
    .btn-top:after, .btn-bottom:after {
      content: "";
      display: flex;
      width: 20px;
      height: 20px;
      border: 5px solid #000;
      margin-left: 5px;
      transform: rotate(45deg); }
    .btn-top:active, .btn-bottom:active {
      filter: opacity(30%); }
  .btn-top {
    right: 30px;
    bottom: 170px; }
    .btn-top:after {
      border-bottom: none;
      border-right: none;
      margin-top: 5px; }
  .btn-bottom {
    right: 30px;
    bottom: 100px; }
    .btn-bottom:after {
      border-top: none;
      border-left: none;
      margin-bottom: 5px; } }

#easing {
  width: 200px;
  margin-top: 100px; }

.item-one {
  background: #76daff; }

.item-two {
  background: #87d4a0; }

.item-three {
  background: #b9f; }

.item-three {
  background: #b9f; }

.item-four {
  background: #7c6ef5; }

.clearfix {
  overflow: auto; }

@media all and (max-width: 425px) {
  body {
    width: 100%; }
  article {
    display: block;
    height: 100vh;
    background: skyblue;
    text-align: center; }
    article ul {
      list-style: none;
      padding: 0;
      padding-top: 200px;
      text-align: center;
      margin: 0 auto;
      width: 75%; }
    article li {
      margin: 10px;
      padding: 0;
      display: block;
      text-align: center; }
    article a {
      display: block;
      height: 50px;
      line-height: 42px;
      width: 100px;
      background: #47cf73;
      text-decoration: none;
      color: #fff;
      font-size: 24px;
      border-bottom: 8px solid #08ad08;
      border-radius: 10px;
      box-sizing: border-box;
      margin: 0 auto; }
      article a:active {
        border-bottom: none;
        line-height: 50px; }
  select {
    display: none; }
  .btn-top, .btn-bottom {
    display: none; } }
