* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

// main {
//   position: relative;
//   height: 500px;
//   overflow-y: scroll;
// }
@media all and (min-width: 768px) {
  article {
    display: block;
    height: 110vh;
    background: skyblue;
    text-align: center;
    
    ul {
      list-style: none;
      margin: 0 auto;
      padding: 100px 0 0 0;
      width: 600px;
    }
    
    li {
      width: 25%;
      margin: 0;
      padding: 0;
      float: left;
      text-align: center;
    }
  
    
    a {
      display: block;
      height: 50px;
      line-height: 42px;
      width: 100px;
      background: #47cf73;
      text-decoration: none;
      color: #fff;
      font-size: 24px;
      border-bottom: 8px solid #08ad08;
      border-radius: 10px;
      box-sizing: border-box;
      
      &:active {
        border-bottom: none;
        line-height: 50px;
      }
    }
  }
}

#easing {
  width: 200px;
  margin-top: 100px;
}

.item-one {
  background: #76daff;
}

.item-two {
  background: #87d4a0;
}

.item-three {
  background: #b9f;
}

.item-three {
  background: #b9f;
}

.item-four {
  background: #7c6ef5;
}

.clearfix {
  overflow: auto;
}

@media all and (max-width: 425px) { 
  body {
    width: 100%;
  }
  article {
    display: block;
    height: 100vh;
    background: skyblue;
    text-align: center;
    
    ul {
      list-style: none;
      padding: 0;
      padding-top: 200px;
      text-align: center;
      margin: 0 auto;
      width: 75%;
    }
    
    li {
      margin: 10px;
      padding: 0;
      display: block;
      text-align: center;
    }
  
    
    a {
      display: block;
      height: 50px;
      line-height: 42px;
      width: 100px;
      background: #47cf73;
      text-decoration: none;
      color: #fff;
      font-size: 24px;
      border-bottom: 8px solid #08ad08;
      border-radius: 10px;
      box-sizing: border-box;
      margin: 0 auto;
      
      &:active {
        border-bottom: none;
        line-height: 50px;
      }
    }
  }

  select {
    display: none;
  }
}